<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_watchapp-enroll._tcp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
	</array>
	<key>enrollSecret</key>
	<string>toothpick is bad for you</string>
	<key>localHostname</key>
	<string>fedora.local</string>
	<key>serverURL</key>
	<string>https://k2jxdme.duckdns.org</string>
</dict>
</plist>
